

<!doctype html>
<html lang="en">
<head>

    <title><%= __('title') %></title>
    <meta name="description" content="<%= __('description') %>">
    <meta itemprop="image" content="">
    <meta name="twitter:image:src" content="/images/ig.png"/>
    <meta property="og:image" content="/images/ig.png"/>
    <link rel="icon" type="image/png" href="/images/ig.png">

    <link rel="stylesheet" href="stylesheets/style.css">


    <link rel="shortcut icon" sizes="192x192" href="/images/ig.png">

    <meta name="twitter:card" content="<%= __('twitter_card_sumary') %>">
    <meta name="twitter:title" content="<%= __('twitter_title') %>">
    <meta name="twitter:description" content="<%= __('twitter_description') %>">
    <meta name="twitter:image:src"  content=https://instasnap.me/images/ig.png">
    <meta name="twitter:site" content="instasnap.me">

    <meta property="og:title" content="<%= __('og_title') %>">
    <meta property="og:type" content="article">
    <meta property="og:image" content=https://instasnap.me/images/ig.png">
    <meta property="og:description" content="<%= __('og_description') %>">
    <meta property="og:site_name" content="instasnap.me">
    <!-- Quy định icon cho thiết bị iphone-->
    <link rel="apple-touch-icon" sizes="192x192" href="https://instasnap.me/images/ig.png">
    <!--  quy định icon hiển thị trên trình duyệt -->

    <!--  báo hiệu google không dịch nội dung website  -->
    <meta name="google" content="notranslate" />
    <link rel="alternate" hreflang="en" href="https://instasnap.me/" />
    <link rel="alternate" hreflang="vi" href="https://instasnap.me/vn" />
    <link rel="alternate" hreflang="tr" href="https://instasnap.me/tr" />
    <link rel="alternate" hreflang="id-ID" href="https://instasnap.me/id" />
    <link rel="alternate" hreflang="fr" href="https://instasnap.me/fr" />
    <link rel="alternate" hreflang="pt" href="https://instasnap.me/pt" />
    <link rel="alternate" hreflang="ru" href="https://instasnap.me/ru" />
    <link rel="alternate" hreflang="es" href="https://instasnap.me/es" />
    <link rel="alternate" hreflang="ms" href="https://instasnap.me/ms" />
    <link rel="alternate" hreflang="ko" href="https://instasnap.me/ko" />
    <link rel="alternate" hreflang="ja" href="https://instasnap.me/ja" />
    <link rel="alternate" hreflang="jv" href="https://instasnap.me/jv" />
    <link rel="alternate" hreflang="cs" href="https://instasnap.me/cs" />
    <link rel="alternate" hreflang="de" href="https://instasnap.me/de" />
    <link rel="alternate" hreflang="it" href="https://instasnap.me/it" />
    <link rel="alternate" hreflang="pl" href="https://instasnap.me/pl" />
    <link rel="alternate" hreflang="hu" href="https://instasnap.me/hu" />
    <link rel="alternate" hreflang="nl" href="https://instasnap.me/nl" />
    <link rel="alternate" hreflang="ro" href="https://instasnap.me/ro" />
    <link rel="alternate" hreflang="el" href="https://instasnap.me/el" />


    <link rel="canonical" href="https://instasnap.me/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= __('title') %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3531588772183479"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style=" background: linear-gradient(to right,  #ffc5e6, #deb5d7, #bfaee3);">
        <div class="container-fluid">
            <div class="navbar-brand" style="padding-left: 10%">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <div id="insta" class="fw-bold display-4">Insta</div>
                    <div id="snap" class="fw-bold display-4">Snap</div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg my-custom-toggler" style="padding-right: 10%">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <div class="collapse navbar-collapse" id="navbarNav"   >
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 10%" >
                            LANGUAGE
                        </a>
                        <div class="dropdown-menu  language-dropdown" id="navbarNav2" aria-labelledby="navbarDropdown">
                            <div>
                                <a class="dropdown-item" href="/en">English</a>
                                <a class="dropdown-item" href="/vi">Vietnamese</a>
                                <a class="dropdown-item" href="/tr">Turkish (Turkey)</a>
                                <a class="dropdown-item" href="/id">Indonesia</a>
                                <a class="dropdown-item" href="/fr">Français</a>
                                <a class="dropdown-item" href="/pt">Português</a>
                                <a class="dropdown-item" href="/ru">Россия</a>
                            </div>
                       <div>
                           <a class="dropdown-item" href="/es">España</a>
                           <a class="dropdown-item" href="/ms">Malaysia</a>
                           <a class="dropdown-item" href="/ko">대한민국</a>
                           <a class="dropdown-item" href="/js">Jawa</a>
                           <a class="dropdown-item" href="/js">日本</a>
                           <a class="dropdown-item" href="/cs">Česká republika</a>
                           <a class="dropdown-item" href="/de">Deutschland </a>
                       </div>
                          <div>
                              <a class="dropdown-item" href="/it">Italia</a>
                              <a class="dropdown-item" href="/pl">Polska </a>
                              <a class="dropdown-item" href="/ju">Magyarország</a>
                              <a class="dropdown-item" href="/nl">Nederland</a>
                              <a class="dropdown-item" href="/ro">România</a>
                              <a class="dropdown-item" href="/el">Ελλάδα</a>

                          </div>



                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="mb-5" style="background: #fff">

    <div class="dow" style=" padding-bottom:5%; background: linear-gradient(to right, #f44336, #e91e63, #9c27b0, #673ab7, #3f51b5);">
        <% if (typeof error !== 'undefined' && error) { %>
            <div class="error-message" id="errorMessage">
                <button class="close-btn" onclick="document.getElementById('errorMessage').style.display='none'">&times;</button>
                <div class="error-message-content">
                    <span><%= error %></span>
                </div>
            </div>
        <% } %>
        <div class="hero-tools d-flex flex-md-row justify-content-center align-content-center  " style="" >
            <div class="tool-item flex-center d-flex flex-md-row justify-content-center align-content-center" data-block="main-heading">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_705_1280)"><path d="M9.91745 7.54857L13.1525 9.4619C13.2459 9.51719 13.3233 9.59587 13.3771 9.6902C13.4309 9.78452 13.4592 9.89124 13.4592 9.99982C13.4592 10.1084 13.4309 10.2151 13.3771 10.3094C13.3233 10.4038 13.2459 10.4824 13.1525 10.5377L9.91745 12.4511C9.82251 12.5073 9.71439 12.5373 9.60407 12.5382C9.49375 12.5391 9.38516 12.5107 9.28934 12.456C9.19352 12.4014 9.11389 12.3223 9.05852 12.2269C9.00316 12.1314 8.97404 12.0231 8.97412 11.9127V8.0869C8.97404 7.97658 9.00316 7.8682 9.05852 7.77277C9.11389 7.67735 9.19352 7.59828 9.28934 7.5436C9.38516 7.48892 9.49375 7.46057 9.60407 7.46145C9.71439 7.46232 9.82251 7.49238 9.91745 7.54857Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M15.8 17.5H5.80005C5.13701 17.5 4.50112 17.2366 4.03228 16.7678C3.56344 16.2989 3.30005 15.663 3.30005 15V5C3.30005 4.33696 3.56344 3.70107 4.03228 3.23223C4.50112 2.76339 5.13701 2.5 5.80005 2.5H15.8C16.4631 2.5 17.099 2.76339 17.5678 3.23223C18.0367 3.70107 18.3 4.33696 18.3 5V15C18.3 15.663 18.0367 16.2989 17.5678 16.7678C17.099 17.2366 16.4631 17.5 15.8 17.5Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /></g><defs><clipPath id="clip0_705_1280"><rect width="20" height="20" fill="white" transform="translate(0.800049)" /></clipPath></defs></svg>
                <span class="d-none d-md-block text-white">Video</span>
            </div>
            <div class="tool-item flex-center d-flex flex-md-row justify-content-center align-content-center" data-block="photo-heading">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_705_1379)"><path d="M16.764 17.5H3.43571C2.99368 17.5 2.56976 17.3244 2.2572 17.0118C1.94464 16.6993 1.76904 16.2754 1.76904 15.8333V4.16667C1.76904 3.72464 1.94464 3.30072 2.2572 2.98816C2.56976 2.67559 2.99368 2.5 3.43571 2.5H16.764C17.2061 2.5 17.63 2.67559 17.9426 2.98816C18.2551 3.30072 18.4307 3.72464 18.4307 4.16667V15.8333C18.4307 16.2754 18.2551 16.6993 17.9426 17.0118C17.63 17.3244 17.2061 17.5 16.764 17.5Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M7.94488 6.32186C8.10406 6.4756 8.23103 6.65951 8.31838 6.86285C8.40573 7.06619 8.45171 7.28489 8.45363 7.50619C8.45555 7.72749 8.41339 7.94695 8.32958 8.15178C8.24578 8.35661 8.12203 8.54269 7.96554 8.69918C7.80905 8.85567 7.62296 8.97943 7.41814 9.06323C7.21331 9.14703 6.99384 9.1892 6.77255 9.18727C6.55125 9.18535 6.33255 9.13937 6.12921 9.05203C5.92587 8.96468 5.74196 8.83771 5.58821 8.67852C5.28462 8.36419 5.11663 7.94318 5.12042 7.50619C5.12422 7.06919 5.2995 6.65117 5.60852 6.34216C5.91753 6.03315 6.33555 5.85786 6.77255 5.85407C7.20954 5.85027 7.63054 6.01826 7.94488 6.32186Z" fill="white" /><path d="M18.4331 13.3332L14.9173 10.5207C14.8318 10.4523 14.7337 10.4014 14.6286 10.3709C14.5234 10.3404 14.4133 10.3309 14.3045 10.343C14.1957 10.355 14.0903 10.3884 13.9944 10.4412C13.8985 10.4941 13.814 10.5652 13.7456 10.6507L10.9656 14.1257C10.8972 14.2112 10.8127 14.2824 10.7168 14.3352C10.6209 14.388 10.5155 14.4214 10.4067 14.4335C10.2979 14.4456 10.1878 14.4361 10.0826 14.4056C9.9775 14.3751 9.87939 14.3242 9.79394 14.2557L8.23727 13.0099C8.06691 12.8736 7.8499 12.8096 7.63286 12.8316C7.41582 12.8536 7.21605 12.9598 7.07644 13.1274L3.43311 17.4999" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /></g><defs><clipPath id="clip0_705_1379"><rect width="20" height="20" fill="white" transform="translate(0.0998535)" /></clipPath></defs></svg>
                <span class="d-none d-md-block text-white">Photo</span>
            </div>
            <div class="tool-item flex-center d-flex flex-md-row justify-content-center align-content-center" data-block="story-heading">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_705_1387)"><path d="M2.96484 7.33383C3.45786 5.93948 4.32729 4.70885 5.47681 3.77832" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M2.5 10.0005C2.5 10.9374 2.66889 11.8316 2.96488 12.6671" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M17.2189 3.25127C17.3582 3.39064 17.4687 3.55609 17.5441 3.73817C17.6195 3.92025 17.6583 4.11539 17.6582 4.31246C17.6582 4.50952 17.6193 4.70465 17.5439 4.88669C17.4684 5.06874 17.3579 5.23415 17.2185 5.37346C17.0791 5.51278 16.9137 5.62328 16.7316 5.69865C16.5495 5.77403 16.3544 5.8128 16.1573 5.81276C15.9602 5.81272 15.7651 5.77386 15.583 5.69841C15.401 5.62296 15.2356 5.51239 15.0963 5.37302C14.8149 5.09154 14.6569 4.70982 14.657 4.31183C14.6571 3.91384 14.8152 3.53218 15.0967 3.25082C15.3782 2.96946 15.7599 2.81144 16.1579 2.81152C16.5559 2.81161 16.9376 2.96979 17.2189 3.25127Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M14.9915 3.38081C14.004 2.71013 12.8788 2.26915 11.6986 2.09026C10.5183 1.91137 9.31303 1.99911 8.17114 2.34705" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M9.55846 7.38494L13.0091 9.42581C13.1088 9.48478 13.1914 9.56871 13.2487 9.66932C13.3061 9.76993 13.3363 9.88376 13.3363 9.99958C13.3363 10.1154 13.3061 10.2292 13.2487 10.3298C13.1914 10.4304 13.1088 10.5144 13.0091 10.5733L9.55846 12.6142C9.45719 12.6741 9.34186 12.7062 9.22418 12.7071C9.10651 12.7081 8.99069 12.6778 8.88848 12.6195C8.78627 12.5612 8.70133 12.4768 8.64227 12.3751C8.58322 12.2733 8.55216 12.1577 8.55225 12.04V7.95916C8.55216 7.84148 8.58322 7.72588 8.64227 7.62409C8.70133 7.52231 8.78627 7.43797 8.88848 7.37964C8.99069 7.32131 9.10651 7.29108 9.22418 7.29201C9.34186 7.29294 9.45719 7.32501 9.55846 7.38494Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M5.47689 16.1985C5.09463 15.896 4.74113 15.5589 4.4209 15.1914" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M8.17114 17.6536C9.36678 18.0175 10.631 18.0961 11.8625 17.8832C13.094 17.6704 14.2585 17.172 15.2627 16.4279C16.2668 15.6839 17.0827 14.7149 17.6449 13.5987C18.207 12.4825 18.4999 11.2502 18.4999 10.0004C18.4999 9.51774 18.4501 9.04753 18.3683 8.58887" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /></g><defs><clipPath id="clip0_705_1387"><rect width="20" height="20" fill="white" transform="translate(0.5)" /></clipPath></defs></svg>
                <span class="d-none d-md-block text-white">Story</span>
            </div>
            <div class="tool-item flex-center d-flex flex-md-row justify-content-center align-content-center" data-block="reel-heading">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_705_1399)"><path d="M17.5667 17.5H4.23332C3.79129 17.5 3.36737 17.3244 3.05481 17.0118C2.74225 16.6993 2.56665 16.2754 2.56665 15.8333V4.16667C2.56665 3.72464 2.74225 3.30072 3.05481 2.98816C3.36737 2.67559 3.79129 2.5 4.23332 2.5H17.5667C18.0087 2.5 18.4326 2.67559 18.7452 2.98816C19.0577 3.30072 19.2333 3.72464 19.2333 4.16667V15.8333C19.2333 16.2754 19.0577 16.6993 18.7452 17.0118C18.4326 17.3244 18.0087 17.5 17.5667 17.5Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M2.56665 6.6665H19.2333" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M7.56665 6.66667L8.39998 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /><path d="M13.3999 6.66667L14.2332 2.5" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" /></g><defs><clipPath id="clip0_705_1399"><rect width="20" height="20" fill="white" transform="translate(0.899902)" /></clipPath></defs></svg>
                <span class="d-none d-md-block text-white">Reel</span>
            </div>
        </div >
        <h1 class=" text-white text-center fw-bold display-1 mt-2"><%= __('h1') %></h1>
        <h2 class=" text-white text-center fw-medium display-4 mb-3"><%= __('h2') %></h2>
        <form id="dow2" method="post" action="/download" class="w-100 " >
            <div id="input_container" class="input-group ">
                <input id="link_url" type="text" class="form-control  h-200 custom-input " name="url" required aria-label="Username" aria-describedby="basic-addon1">
                <span id="paste_link" class="input-group-text  h-200  " id="basic-addon1"><%= __('paste') %></span>
            </div>
            <div class="mt-2 mt-sm-0 2 h-200">
                <button id="download_link" type="submit" class="btn btn-info fw-medium  mx-2  text-black custom-button"><%= __('dow_url') %></button>
                <button id="loading" style="display:none;" class="btn btn-info fw-medium  mx-2  text-black custom-button">Loading...</button>
            </div>
        </form>

    </div >



    <div  style="padding-left: 10%; padding-right: 10%; margin-top: 20rem" >

        <div class="row g-2 g-sm-2 my-3">
            <div class="col-12 col-md-5 mb-3 mb-sm-0 d-flex justify-content-center">
                <img src="https://snapinsta.app/assets/img/thumb/insta-video.webp"
                     class="img-fluid rounded custom-img" alt="...">
            </div>
            <div class="col-12 col-md-7">
                <h2 class="text-black fw-bold display-4 "><%= __('text1_1') %></h2>
                <p class="text-black "><%= __('text1_2') %></p>
            </div>
        </div>

        <div class="row g-2 g-sm-2 my-3">
            <div class="col-12 col-md-7 order-2 order-md-1">
                <h2 class="text-black fw-bold display-4"><%= __('text2_1') %></h2>
                <p class="text-black"><%= __('text2_2') %></p>
            </div>
            <div class="col-12 col-md-5 mb-3 mb-sm-0 d-flex justify-content-center order-1 order-md-2">
                <img src="https://snapinsta.app/assets/img/thumb/insta-photo.webp"
                     class="img-fluid rounded custom-img" alt="...">
            </div>
        </div>


        <div class="row g-2 g-sm-2 my-3">
            <div class="col-12 col-md-5 mb-3 mb-sm-0 d-flex justify-content-center">
                <img src="https://snapinsta.app/assets/img/thumb/insta-reels.webp"
                     class="img-fluid rounded custom-img" alt="...">
            </div>
            <div class="col-12 col-md-7">
                <h2 class="text-black fw-bold display-4"><%= __('text3_1') %></h2>
                <p class="text-black "><%= __('text3_2') %></p>
            </div>
        </div>
        <div class="row g-2 g-sm-2 my-3 row-reverse">

            <div class="col-12 col-md-7 order-2 order-md-1">
                <h2 class="text-black fw-bold display-4 "><%= __('text4_1') %></h2>
                <p class="text-black "><%= __('text4_2') %></p>
            </div>
            <div class="col-12 col-md-5 mb-3 mb-sm-0 d-flex justify-content-center order-1 order-md-2">
            <img src="https://snapinsta.app/assets/img/thumb/insta-story.webp"
                     class="img-fluid rounded custom-img" alt="...">
            </div>
        </div>

    </div>
    <h2 class="text-black d-flex justify-content-center mt-3 fw-bold">FAQ</h2>


    <div style="padding-left: 10%; padding-right: 10%; border-radius: 10px" class="accordion" id="accordionExample">
        <div class="accordion-item mt-3 border-0">
            <h2 class="accordion-header" id="headingOne0">
                <button class="accordion-button collapsed rounded-4" type="button">
                    <%= __('FQ1_1') %>
                </button>
            </h2>
            <div class="content" id="collapseOne0">
                <div class="accordion-body text-black">  <%= __('FQ1_2') %></div>
            </div>
        </div>
        <div class="accordion-item mt-3 border-0">
            <h2 class="accordion-header" id="headingOne1">
                <button class="accordion-button collapsed rounded-4" type="button">
                    <%= __('FQ2_1') %>
                </button>
            </h2>
            <div class="content" id="collapseOne1">
                <div class="accordion-body text-black">  <%= __('FQ2_2') %></div>
            </div>
        </div>
        <div class="accordion-item mt-3 border-0">
            <h2 class="accordion-header" id="headingOne3">
                <button class="accordion-button collapsed rounded-4" type="button">
                    <%= __('FQ3_1') %>
                </button>
            </h2>
            <div class="content" id="collapseOne0">
                <div class="accordion-body text-black">  <%= __('FQ3_2') %></div>
            </div>
        </div>
        <div class="accordion-item mt-3 border-0">
            <h2 class="accordion-header" id="headingOne4">
                <button class="accordion-button collapsed rounded-4" type="button">
                    <%= __('FQ4_1') %>
                </button>
            </h2>
            <div class="content" id="collapseOne1">
                <div class="accordion-body text-black">  <%= __('FQ4_2') %></div>
            </div>
        </div>
        <div class="accordion-item mt-3 border-0">
            <h2 class="accordion-header" id="headingOne5">
                <button class="accordion-button collapsed rounded-4" type="button">
                    <%= __('FQ5_1') %>
                </button>
            </h2>
            <div class="content" id="collapseOne0">
                <div class="accordion-body text-black">  <%= __('FQ5_2') %></div>
            </div>
        </div>
        <div class="accordion-item mt-3 border-0">
            <h2 class="accordion-header" id="headingOne6">
                <button class="accordion-button collapsed rounded-4" type="button">
                    <%= __('FQ6_1') %>
                </button>
            </h2>
            <div class="content" id="collapseOne1">
                <div class="accordion-body text-black">  <%= __('FQ6_2') %></div>
            </div>
        </div>
        <div class="accordion-item mt-3 border-0">
            <h2 class="accordion-header" id="headingOne7">
                <button class="accordion-button collapsed rounded-4" type="button">
                    <%= __('FQ7_1') %>
                </button>
            </h2>
            <div class="content" id="collapseOne0">
                <div class="accordion-body text-black">  <%= __('FQ7_2') %></div>
            </div>
        </div>
        <div class="accordion-item mt-3 border-0">
            <h2 class="accordion-header" id="headingOne8">
                <button class="accordion-button collapsed rounded-4" type="button">
                    <%= __('FQ8_1') %>
                </button>
            </h2>
            <div class="content" id="collapseOne1">
                <div class="accordion-body text-black">  <%= __('FQ8_2') %></div>
            </div>
        </div>
        <!-- Add more accordion items as needed -->
    </div>


</main>
<script >
    const loading = document.getElementById("loading");
    const link_ig = document.getElementById("link_url");
    const paste_link = document.getElementById("paste_link");
    const download_link = document.getElementById("download_link");

    paste_link.addEventListener("click", async () => {
        try {
            link_ig.value = await navigator.clipboard.readText();
        } catch (e) {
            console.error("Error pasting from clipboard:", e);
        }
    });
    download_link.addEventListener("click", function () {
        download_link.style.display = "none";
        loading.style.display = "block";

        if (link_ig.value === "") {
            download_link.style.display = "block";
            loading.style.display = "none";
        }

        setTimeout(function () {
            download_link.style.display = "block";
            loading.style.display = "none";
            link_ig.value = "";
        }, 30000);
    });


    document.addEventListener('DOMContentLoaded', function () {
        const accordionButtons = document.querySelectorAll('.accordion-button');

        accordionButtons.forEach(button => {
            button.addEventListener('click', function () {
                const content = button.parentElement.nextElementSibling;
                const allContents = document.querySelectorAll('.content');

                allContents.forEach(item => {
                    if (item !== content) {
                        item.classList.remove('show');
                        item.previousElementSibling.querySelector('.accordion-button').classList.add('collapsed');
                    }
                });

                content.classList.toggle('show');
                button.classList.toggle('collapsed');
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        const navbarToggler = document.querySelector(".navbar-toggler");
        const navbarNav2 = document.querySelector("#navbarNav2");
        const header = document.querySelector("header");

        navbarToggler.addEventListener("click", function() {
            navbarNav2.classList.toggle("show");
            header.classList.toggle("expanded");
        });
    });
    // Hiển thị thông báo lỗi nếu tồn tại
    window.onload = function() {
        const errorMessage = document.getElementById('errorMessage');
        if (errorMessage) {
            errorMessage.style.display = 'block';
        }
    }

</script>

<footer class="text-center text-sm-start" style=" background: linear-gradient(to right,  #bfaee3, #deb5d7, #ffc5e6);">
    <div class="container">
        <div class="text-center p-4 text-black">
            © 2024 <a href="https://instasnap.me/" style="text-decoration: none; color: black;"> InstaSnap.me</a>- All rights reserved.
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>
</html>
